<div class="container">
	<div class="jumbotron text-center">
	  <h1 class="display-4">Welcome to Musika</h1>
	  <p class="lead">The Netflix of <u>Music Education</u></p>
	  <hr class="my-4">
	     <%= link_to "SEE COURSES", new_user_registration_path, class: "nav-link btn btn-primary btn-lg btn-center" %>
	</div>
</div>